<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <!--<configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="PAConnectionString" value="yjwFHXPZV4X0qjDIhnerIdk1UWSmi0dn+LOCRbB2IHFI8mpvcUzUmU6IcCOuvhVdMxQNCozKfU9NkHKe7i2AU+OyqN/wkNQYttqYKwSj9ZtVIV34i8pT3/4cnqySmK0HR6WEliAgKwtW11JkZZ/wsAdWz7+P5xlnYvnzymIBN1iJQaarcXctzI8RhtI6cciqjtnp/aWgzKxtE3FjilcDD9PcWHQvFDyG4qLyKBgWLUbT3Fh0LxQ8hgVdIpS/rowr" />
    <add key="PersoConnectionString" value="yjwFHXPZV4X0qjDIhnerIdk1UWSmi0dn+LOCRbB2IHFI8mpvcUzUmU6IcCOuvhVdMxQNCozKfU+H+ON8EnNeBDy9ptYVtmXN04QSALeczyT2szqzkEYwb2zdjpK1nQnjGGLlcg9F6D5blWCj/ndyDYXIox5CwtbHi4EW5FEklPiDZstp++N615zwNVYzcT2cbWxyYpgbBpxV9uKgVgjswSy+TZ0MHFwDng5/JEwLrszuT9cVJ9Vl4Q==" />-->

    <!--<add key="ConnectionString" value="fD9PfyxMZ4w+KhjXHMkzZ74qPRVs/20Wi/CEu7+X9wXEeZ/VAs1CD7SBp4KZsJlFLmve63OHnAgwziVHL7qnowJCHIpmZFyOQfcnxzWtW+Ik3e9+FNvML01xIanOvftL8+0QPHfIqx0gsGMN5jbKd5nPC6eqnRgw4R/wB+Tdb3j+vTEm6KrGQeex0iQibzVfUKNr3LZ7ZzC4UFG6jHj+um0DbVuvOWpGk45jXyGOlcQ/ofCgFfn10/Fi6IkyR7hL" />-->

    <!--A HCM-->
    <add key="ConnectionString" value="fD9PfyxMZ4w+KhjXHMkzZ74qPRVs/20Wi/CEu7+X9wXEeZ/VAs1CD7SBp4KZsJlFLmve63OHnAgwziVHL7qno+YIpeoGCgR3Tq6G4P3J7k5F0fVweh6ko7oHnZuWwmN3ikb5T0Roj5tVcjO+rX/Z6No9M7YTjT2KY4SMU7Y/ksx0RcsYvt9Lptgz9wY6ok2ypuHFR7DRgfeQ4HTFLI6NOTPC/JtoKbNrY1HhRkS3Id+a4RQva11fwPWU3ZLFgwly" />
    <add key="Module" value="A" />
    <add key="insideUrl" value="http://20.1.8.222:8480/" />
    <add key="MaTrungTam" value="BB" />
	  
	<!-- Notes this paths must \ at the end -->
    <add key="EPP_WEB_PATH_RUN_APP" value="C:\EPP\EPP_WEB\" />
    <add key="EPP_SYNC_PUSH_PATH_RUN_APP" value="C:\EPP\EPP_SYNC_PUSH\" />
    <add key="EPP_SYNC_GET_PATH_RUN_APP" value="C:\EPP\EPP_SYNC_GET\" />
    <add key="DB_SCRIPTS_PATH_RUN_APP" value="C:\EPP\DB_SCRIPT\" />
	  
    <add key="APP_NAME_EPP_UPDATE" value="EPP_WEB" />
    <add key="APP_NAME_EPP_SYNC_PUSH_UPDATE" value="EPP_SYNC_PUSH" />
    <add key="APP_NAME_EPP_SYNC_GET_UPDATE" value="EPP_SYNC_GET" />
    <add key="APP_NAME_DB_SCRIPTS_UPDATE" value="syncttdh_script" />  
	  
    <add key="DIR_NAME_EPP_UPDATE" value="EPP_UPDATE" />
    <add key="DIR_NAME_EPP_SYNC_PUSH_UPDATE" value="EPP_SYNC_PUSH_UPDATE" />
    <add key="DIR_NAME_EPP_SYNC_GET_UPDATE" value="EPP_SYNC_GET_UPDATE" />
    <add key="DIR_NAME_DB_SCRIPTS_UPDATE" value="DB_SCRIPTS_UPDATE" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <!--<httpRuntime targetFramework="4.5.2" />-->
    <httpRuntime maxRequestLength="1073741824" targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>